@import "./newEntry.css";

header {
    background-color: #5bc0eb;
    display: flex;
    
}
.logo {
    max-width: 13%;
}
.siteTitle {
    align-self: center;
    color: #fef9ef;
    padding: 0 21rem;
}
main {
    background-color: #F7EAB5;
}
.newEntry {
    align-self: center;
}


