@import "./newEntry.css";
@import './header.css';
@import './landing.css';
@import url('https://fonts.googleapis.com/css2?family=Red+Rose:wght@400;700&family=Roboto+Slab&display=swap');


main {
    display: flex;
}
.navBar {
    background-color: #97A7B3;
}
.container {
    background-image:url("/images/notebookPage.png");
    padding: 1.5rem 3rem;
}
.newEntry {
    align-self: center;
}

input, textarea, .entry-list {
    font-family: 'Roboto Slab', serif; 
}

label, h2, h1, button, h3 {
    font-family: 'Red Rose', cursive;
  
}
.entry-list{
    border-bottom: solid 1px;
    margin-bottom: 1rem;
    padding: 1.5rem 4rem;
}

