form {
    display: flex;
    flex-direction: column;

}
.userInput{
    display: flex;
    align-self: center;
    margin: 10px 0;
    border-radius: 13px;
    color: #fef9ef;
}
textarea {
    resize: none;
}
.date {
    background-color: #96D076 ;
    border-style: outset;
    border-color: darkolivegreen;
}
.concepts {
    background-color: #EA7B5D ;
    border-style: outset;
    border-color: brown;
}
.entry {
    background-color: #7E7F9A ;
    border-style: outset;
    border-color: darkslategray;
}
.mood {
    background-color: #97A7B3 ;
    border-style: outset;
    border-color: gray;
}
textarea {
    width: 95%;
}
.publish-button {
    width: 7%;
    align-self: center;
}
.journal-entry {
    padding-bottom: 3rem;
}